@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700";
.navbar {
  position: absolute;
  text-align: center;
  z-index: 1;
  left: 27%;
  margin-top: 30px;
}
.navbar ul {
  list-style: none;
  margin: 0;
}
.navbar ul li {
  font-size: 16px;
  font-variant: small-caps;
  font-family: 'Roboto';
  display: inline-block;
  margin-right: 20px;
}
.navbar ul li a {
  text-decoration: none;
  color: #FFF;
}

body h1 {
  font-family: Roboto;
  font-size: 100px;
  font-variant: small-caps;
  font-weight: 400;
  color: #FFF;
  letter-spacing: 35px;
  opacity: 0.8;
  position: absolute;
  top: 25%;
}
body h2 {
  font-family: Roboto;
  font-variant: small-caps;
  font-weight: 500;
  letter-spacing: 5px;
  text-align: center;
  padding-bottom: 70px;
  margin: 0;
}
body .rondperso {
  overflow: hidden;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}
body #arrow-landing {
  width: 100%;
  height: 600px;
  background-image: url("../img/arrow/arrow-landing.png");
  background-size: cover;
  position: relative;
}
body #arrow-landing #arrow-title {
  width: 500px;
  margin: 0 auto;
}
body #arrow-landing .arrow-link-width {
  width: 122px;
}
body #arrow-synopsis {
  background-image: url("../img/arrow/arrow-syno-bg.png");
  background-size: cover;
  padding: 100px;
}
body #arrow-synopsis p {
  font-family: Roboto;
  font-size: 15px;
  margin: 0;
}
body #arrow-characters {
  background-color: #fff;
  padding: 100px;
}
body #arrow-characters a {
  color: #000;
}
body #arrow-characters a:hover, body #arrow-characters a:focus {
  color: #000;
}
body #arrow-characters a span {
  opacity: 0;
  position: absolute;
  width: 300px;
  z-index: 1;
  color: #fff;
  font-family: Roboto;
  font-size: 15px;
  margin-left: -345px;
  margin-top: 85px;
  background: rgba(0, 0, 0, 0.9);
  padding: 15px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transform: scale(0) rotate(-80deg);
  transition: all .25s;
}
body #arrow-characters a:hover span, body #arrow-characters a:focus span {
  transform: scale(1) rotate(0);
  opacity: 0.8;
}
body #arrow-characters #characters {
  width: 100px;
  display: inline-block;
  margin: 0 128px 25px 128px;
  position: relative;
}
body #arrow-characters #characters .character-name {
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}
body #lot-landing {
  width: 100%;
  height: 600px;
  background-image: url("../img/lot/lot-landing.png");
  background-size: cover;
  position: relative;
}
body #lot-landing #lot-title {
  width: 721px;
  margin: 0 auto;
}
body #lot-landing #lot-title h1 {
  font-family: Roboto;
  font-size: 90px;
  font-variant: small-caps;
  font-weight: 400;
  color: #FFF;
  letter-spacing: 23px;
  opacity: 0.8;
  position: absolute;
  top: 18%;
}
body #lot-landing #lot-title .h1-bis {
  top: 50%;
  font-family: Roboto;
  font-size: 110px;
  font-variant: small-caps;
  font-weight: 400;
  color: #FFF;
  letter-spacing: 23px;
  opacity: 0.8;
  position: absolute;
}
body #lot-landing .lot-link-width {
  width: 232px;
}
body #lot-synopsis {
  background-image: url("../img/lot/lot-syno-bg.png");
  background-size: cover;
  padding: 100px;
}
body #lot-synopsis p {
  font-family: Roboto;
  font-size: 15px;
  margin: 0;
}
body #lot-characters {
  background-color: #fff;
  padding: 100px;
}
body #lot-characters a {
  color: #000;
}
body #lot-characters a:hover, body #lot-characters a:focus {
  color: #000;
}
body #lot-characters a span {
  opacity: 0;
  position: absolute;
  width: 300px;
  z-index: 1;
  color: #fff;
  font-family: Roboto;
  font-size: 15px;
  margin-left: -345px;
  margin-top: 85px;
  background: rgba(0, 0, 0, 0.9);
  padding: 15px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transform: scale(0) rotate(-80deg);
  transition: all .25s;
}
body #lot-characters a:hover span, body #lot-characters a:focus span {
  transform: scale(1) rotate(0);
  opacity: 0.8;
}
body #lot-characters #characters {
  width: 100px;
  display: inline-block;
  margin: 0 128px 25px 128px;
}
body #lot-characters #characters .character-name {
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}
body #supergirl-landing {
  width: 100%;
  height: 600px;
  background-image: url("../img/supergirl-landing.png");
  background-size: cover;
  position: relative;
}
body #supergirl-landing #supergirl-title {
  width: 720px;
  margin: 0 auto;
}
body #supergirl-landing .supergirl-link-width {
  width: 141px;
}
body #supergirl-synopsis {
  background-image: url("../img/img_supergirl/supergirl-syno-bg.png");
  background-size: cover;
  padding: 100px;
}
body #supergirl-synopsis p {
  font-family: Roboto;
  font-size: 15px;
  margin: 0;
}
body #supergirl-characters {
  background-color: #fff;
  padding: 100px;
}
body #supergirl-characters a {
  color: #000;
}
body #supergirl-characters a:hover, body #supergirl-characters a:focus {
  color: #000;
}
body #supergirl-characters a span {
  opacity: 0;
  position: absolute;
  width: 300px;
  z-index: 1;
  color: #fff;
  font-family: Roboto;
  font-size: 15px;
  margin-left: -345px;
  margin-top: 85px;
  background: rgba(0, 0, 0, 0.9);
  padding: 15px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transform: scale(0) rotate(-80deg);
  transition: all .25s;
}
body #supergirl-characters a:hover span, body #supergirl-characters a:focus span {
  transform: scale(1) rotate(0);
  opacity: 0.8;
}
body #supergirl-characters #characters {
  width: 100px;
  display: inline-block;
  margin: 0 128px 25px 128px;
}
body #supergirl-characters #characters .character-name {
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}
body #flash-landing {
  width: 100%;
  height: 600px;
  background-image: url("../img/img_flash/flash-landing.png");
  background-size: cover;
  position: relative;
}
body #flash-landing #flash-title {
  width: 500px;
  margin-left: 280px;
}
body #flash-landing .flash-link-width {
  width: 117px;
}
body #flash-synopsis {
  background-image: url("../img/img_flash/flash-syno-bg.png");
  background-size: cover;
  padding: 100px;
}
body #flash-synopsis p {
  font-family: Roboto;
  font-size: 15px;
  margin: 0;
}
body #flash-characters {
  background-color: #fff;
  padding: 100px;
}
body #flash-characters a {
  color: #000;
}
body #flash-characters a:hover, body #flash-characters a:focus {
  color: #000;
}
body #flash-characters a span {
  opacity: 0;
  position: absolute;
  width: 300px;
  z-index: 1;
  color: #fff;
  font-family: Roboto;
  font-size: 15px;
  margin-left: -345px;
  margin-top: 85px;
  background: rgba(0, 0, 0, 0.9);
  padding: 15px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transform: scale(0) rotate(-80deg);
  transition: all .25s;
}
body #flash-characters a:hover span, body #flash-characters a:focus span {
  transform: scale(1) rotate(0);
  opacity: 0.8;
}
body #flash-characters #characters {
  width: 100px;
  display: inline-block;
  margin: 0 128px 25px 128px;
}
body #flash-characters #characters .character-name {
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}

#admin-body {
  background-color: #292929;
}
#admin-body .navbar-admin {
  text-align: center;
  margin-top: 30px;
}
#admin-body .navbar-admin ul {
  list-style: none;
  margin: 0;
}
#admin-body .navbar-admin ul li {
  font-size: 16px;
  font-variant: small-caps;
  font-family: 'Roboto';
  display: inline-block;
  margin-right: 20px;
}
#admin-body .navbar-admin ul li a {
  text-decoration: none;
  color: #dfdfdf;
}
#admin-body h3 {
  font-family: 'Roboto';
  font-size: 30px;
  font-variant: small-caps;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin: 0;
}
#admin-body #admin-content {
  width: 75%;
  height: auto;
  background-color: #323232;
  margin: 70px auto 100px auto;
  padding: 20px 0 50px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#admin-body #admin-content form {
  width: 268px;
  margin: 7% auto;
  /* EDIT PAGE*/
}
#admin-body #admin-content form label {
  display: block;
  width: 190px;
  float: left;
  font-family: 'Roboto';
  font-size: 15px;
  color: #fff;
}
#admin-body #admin-content form input {
  font-family: Roboto;
  font-size: 13px;
}
#admin-body #admin-content form #submit {
  margin: 40px auto;
  display: block;
}
#admin-body #admin-content form #title-label {
  margin-bottom: 10px;
}
#admin-body #admin-content form #title {
  width: 100%;
  float: inherit;
}
#admin-body #admin-content form #synopsis-label {
  margin-top: 20px;
}
#admin-body #admin-content form #synopsis {
  margin-top: 10px;
  width: 100%;
}
#admin-body #admin-content #arrow-admin {
  background-image: url("../img/arrow/arrow-index.png");
  background-size: cover;
  height: 100px;
  width: 800px;
  position: relative;
  margin: 50px auto 10px auto;
}
#admin-body #admin-content #arrow-admin p {
  margin: 0;
  position: absolute;
  top: 20%;
  right: 20px;
  font-family: Roboto;
  font-variant: small-caps;
  font-size: 55px;
  color: #000;
  opacity: 0.7;
}
#admin-body #admin-content #flash-admin {
  background-image: url("../img/img_flash/flash-index.png");
  background-size: cover;
  height: 100px;
  width: 800px;
  position: relative;
  margin: 50px auto 10px auto;
}
#admin-body #admin-content #flash-admin p {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 20px;
  font-family: Roboto;
  font-variant: small-caps;
  font-size: 55px;
  color: #000;
  opacity: 0.7;
}
#admin-body #admin-content #lot-admin {
  background-image: url("../img/lot/lot-index.png");
  background-size: cover;
  height: 100px;
  width: 800px;
  position: relative;
  margin: 50px auto 10px auto;
}
#admin-body #admin-content #lot-admin .higher-text {
  top: 8%;
  font-size: 45px;
}
#admin-body #admin-content #lot-admin .lower-text {
  top: 39%;
}
#admin-body #admin-content #lot-admin p {
  margin: 0;
  position: absolute;
  top: 20%;
  right: 20px;
  font-family: Roboto;
  font-variant: small-caps;
  font-size: 48px;
  color: #fff;
  opacity: 0.7;
}
#admin-body #admin-content #supergirl-admin {
  background-image: url("../img/img_supergirl/supergirl-index.png");
  background-size: cover;
  height: 100px;
  width: 800px;
  position: relative;
  margin: 50px auto 10px auto;
}
#admin-body #admin-content #supergirl-admin p {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 20px;
  font-family: Roboto;
  font-variant: small-caps;
  font-size: 55px;
  color: #000;
  opacity: 0.7;
}
#admin-body #admin-content #characters-list {
  font-family: Roboto;
  font-size: 15px;
  margin: 20px;
}
#admin-body #admin-content #characters-list a {
  color: #fff;
}
#admin-body #admin-content #edit_characters input, #admin-body #admin-content #edit_characters textarea {
  width: 100%;
  margin: 10px 0;
}
#admin-body #admin-content #edit_characters #edit {
  width: 50px;
  margin-top: 20px;
}
#admin-body #admin-content #admin-options ul {
  list-style: none;
  width: 294px;
  padding: 0;
  margin: 50px auto;
}
#admin-body #admin-content #admin-options ul li {
  margin: 10px 0;
}
#admin-body #admin-content #admin-options ul a {
  text-decoration: none;
  font-family: Roboto;
  font-size: 18px;
  color: #FFF;
}

footer {
  font-family: 'Roboto';
  font-variant: small-caps;
  font-size: 15px;
}

.textfooter {
  display: inline-block;
  margin-left: 20px;
}

#hearticon {
  margin-left: 4px;
  display: inline-block;
  width: 3%;
}

.footer-back {
  background-color: #95a5a6;
}

.footer-icons {
  padding: 0px 0px 0px 20px;
}

#socialicon {
  display: inline-block;
  width: 3%;
  margin-left: 10px;
}

#logofooter {
  width: 10%;
  margin-left: 45%;
}

#email {
  float: right;
  margin-right: 20px;
}

body {
  margin: 0;
  padding: 0;
}
body a {
  text-decoration: none;
}
body #landingpage {
  width: 100%;
  height: 600px;
  background-image: url("../img/landing-bg.png");
  background-size: cover;
  position: relative;
}
body #landingpage #bg-video {
  position: absolute;
  width: 100%;
  z-index: -100;
}
body #landingpage #cw-logo {
  position: absolute;
  top: 40%;
  left: 35%;
}
body #landingpage #cw-logo img {
  width: 400px;
}
body .landing-link-width {
  width: 103px;
}
body #landing-link {
  margin: 0 auto;
}
body #landing-link #landing-link-text {
  font-family: 'Roboto';
  font-variant: small-caps;
  font-size: 15px;
  color: #FFF;
  text-align: center;
  position: absolute;
  bottom: 30px;
}
body .serie-section-index {
  width: 100%;
  height: auto;
}
body .serie-section-index img {
  width: 100%;
  height: auto;
  display: block;
}
body #arrow {
  background-image: url("../img/arrow/arrow-index.png");
  background-size: cover;
  height: 240px;
  position: relative;
}
body #arrow p {
  margin: 0;
  position: absolute;
  top: 20%;
  right: 50px;
  font-family: Roboto;
  font-variant: small-caps;
  font-size: 100px;
  color: #000;
  opacity: 0.6;
}
body #arrow p span {
  font-weight: 300 !important;
}
body #flash {
  background-image: url("../img/img_flash/flash-index.png");
  background-size: cover;
  height: 240px;
  position: relative;
}
body #flash p {
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50px;
  font-family: Roboto;
  font-variant: small-caps;
  font-size: 100px;
  color: #FFF;
  opacity: 0.6;
}
body #flash p span {
  font-weight: 300 !important;
}
body #lot {
  background-image: url("../img/lot/lot-index.png");
  background-size: cover;
  height: 240px;
  position: relative;
}
body #lot .higher-text {
  top: 24%;
  font-size: 95px;
}
body #lot .lower-text {
  top: 50%;
}
body #lot p {
  margin: 0;
  position: absolute;
  top: 35%;
  right: 50px;
  font-family: Roboto;
  font-variant: small-caps;
  font-size: 100px;
  color: #FFF;
  opacity: 0.8;
}
body #lot p span {
  font-weight: 300 !important;
}
body #supergirl {
  background-image: url("../img/img_supergirl/supergirl-index.png");
  background-size: cover;
  height: 240px;
  position: relative;
}
body #supergirl p {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50px;
  font-family: Roboto;
  font-variant: small-caps;
  font-size: 100px;
  color: #000;
  opacity: 0.7;
}
