@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700';
nav {
  position: absolute;
  text-align: center;
  z-index: 1;
  left: 27%;
  margin-top: 30px;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav ul li {
  font-size: 16px;
  font-variant: small-caps;
  font-family: 'Roboto';
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #FFF;
}

body h1 {
  font-family: Roboto;
  font-size: 100px;
  font-variant: small-caps;
  font-weight: 400;
  color: #FFF;
  letter-spacing: 35px;
  opacity: 0.8;
  position: absolute;
  top: 25%;
}

body h2 {
  font-family: Roboto;
  font-variant: small-caps;
  font-weight: 500;
  letter-spacing: 5px;
  text-align: center;
  margin-top: 70px;
}

body .rondperso {
  overflow: hidden;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}

body #arrow-landing {
  width: 100%;
  height: 600px;
  background-image: url("../img/arrow-landing.png");
  background-size: cover;
  position: relative;
}

body #arrow-landing #arrow-title {
  width: 500px;
  margin: 0 auto;
}

body #arrow-synopsis {
  padding: 0 100px;
  margin-bottom: 70px;
}

body #arrow-synopsis p {
  margin-top: 60px;
  font-family: Roboto;
  font-size: 15px;
}

body #arrow-characters {
  background-color: #dddddd;
  padding: 0 100px;
}

body #arrow-characters #characters {
  width: 100px;
  display: inline-block;
  margin: 0 128px;
}

body {
  margin: 0;
  padding: 0;
}

body a {
  text-decoration: none;
}

body #landingpage {
  width: 100%;
  height: 600px;
  background-image: url("../img/landing-bg.png");
  background-size: cover;
  position: relative;
}

body #landingpage #bg-video {
  position: absolute;
  width: 100%;
  z-index: -100;
}

body #landingpage #cw-logo {
  position: absolute;
  top: 40%;
  left: 35%;
}

body #landingpage #cw-logo img {
  width: 400px;
}

body #landing-link {
  position: absolute;
  bottom: 30px;
  left: 46%;
}

body #landing-link #landing-link-text {
  font-family: 'Roboto';
  font-variant: small-caps;
  font-size: 15px;
  color: #FFF;
  text-align: center;
}

body .serie-section-index {
  width: 100%;
  height: auto;
}

body .serie-section-index img {
  width: 100%;
  height: auto;
  display: block;
}
