@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700";
nav {
  position: absolute;
  text-align: center;
  z-index: 1;
  left: 27%;
  margin-top: 30px;
}
nav ul {
  list-style: none;
  margin: 0;
}
nav ul li {
  font-size: 16px;
  font-variant: small-caps;
  font-family: 'Roboto';
  display: inline-block;
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #FFF;
}

body h1 {
  font-family: Roboto;
  font-size: 100px;
  font-variant: small-caps;
  font-weight: 400;
  color: #FFF;
  letter-spacing: 35px;
  opacity: 0.8;
  position: absolute;
  top: 25%;
}
body h2 {
  font-family: Roboto;
  font-variant: small-caps;
  font-weight: 500;
  letter-spacing: 5px;
  text-align: center;
  padding-bottom: 70px;
  margin: 0;
}
body .rondperso {
  overflow: hidden;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}
body #arrow-landing {
  width: 100%;
  height: 600px;
  background-image: url("../img/arrow/arrow-landing.png");
  background-size: cover;
  position: relative;
}
body #arrow-landing #arrow-title {
  width: 500px;
  margin: 0 auto;
}
body #arrow-landing .arrow-link-width {
  width: 122px;
}
body #arrow-synopsis {
  background-image: url("../img/arrow/arrow-syno-bg.png");
  background-size: cover;
  padding: 100px;
}
body #arrow-synopsis p {
  font-family: Roboto;
  font-size: 15px;
  margin: 0;
}
body #arrow-characters {
  background-color: #fff;
  padding: 100px;
}
body #arrow-characters #characters {
  width: 100px;
  display: inline-block;
  margin: 0 128px 25px 128px;
}
body #arrow-characters #characters .character-name {
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}
body #lot-landing {
  width: 100%;
  height: 600px;
  background-image: url("../img/lot/lot-landing.png");
  background-size: cover;
  position: relative;
}
body #lot-landing #lot-title {
  width: 721px;
  margin: 0 auto;
}
body #lot-landing #lot-title h1 {
  font-family: Roboto;
  font-size: 90px;
  font-variant: small-caps;
  font-weight: 400;
  color: #FFF;
  letter-spacing: 23px;
  opacity: 0.8;
  position: absolute;
  top: 18%;
}
body #lot-landing #lot-title .h1-bis {
  top: 25%;
  font-family: Roboto;
  font-size: 110px;
  font-variant: small-caps;
  font-weight: 400;
  color: #FFF;
  letter-spacing: 23px;
  opacity: 0.8;
  position: absolute;
}
body #lot-landing .lot-link-width {
  width: 232px;
}
body #lot-synopsis {
  background-image: url("../img/lot/lot-syno-bg.png");
  background-size: cover;
  padding: 100px;
}
body #lot-synopsis p {
  font-family: Roboto;
  font-size: 15px;
  margin: 0;
}
body #lot-characters {
  background-color: #fff;
  padding: 100px;
}
body #lot-characters #characters {
  width: 100px;
  display: inline-block;
  margin: 0 128px 25px 128px;
}
body #lot-characters #characters .character-name {
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}
body #lot-characters .center-character {
  display: block !important;
  margin: 0 auto !important;
}
body #supergirl-landing {
  width: 100%;
  height: 600px;
  background-image: url("../img/supergirl-landing.png");
  background-size: cover;
  position: relative;
}
body #supergirl-landing #supergirl-title {
  width: 720px;
  margin: 0 auto;
}
body #supergirl-landing .supergirl-link-width {
  width: 141px;
}
body #supergirl-synopsis {
  background-image: url("../img/img_supergirl/supergirl-syno-bg.png");
  background-size: cover;
  padding: 100px;
}
body #supergirl-synopsis p {
  font-family: Roboto;
  font-size: 15px;
  margin: 0;
}
body #supergirl-characters {
  background-color: #fff;
  padding: 100px;
}
body #supergirl-characters #characters {
  width: 100px;
  display: inline-block;
  margin: 0 128px 25px 128px;
}
body #supergirl-characters #characters .character-name {
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}
body #flash-landing {
  width: 100%;
  height: 600px;
  background-image: url("../img/flash-landing.png");
  background-size: cover;
  position: relative;
}
body #flash-landing #flash-title {
  width: 500px;
  margin-left: 280px;
}
body #flash-synopsis {
  padding: 100px;
}
body #flash-synopsis p {
  font-family: Roboto;
  font-size: 15px;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}
body a {
  text-decoration: none;
}
body #landingpage {
  width: 100%;
  height: 600px;
  background-image: url("../img/landing-bg.png");
  background-size: cover;
  position: relative;
}
body #landingpage #bg-video {
  position: absolute;
  width: 100%;
  z-index: -100;
}
body #landingpage #cw-logo {
  position: absolute;
  top: 40%;
  left: 35%;
}
body #landingpage #cw-logo img {
  width: 400px;
}
body .landing-link-width {
  width: 103px;
}
body #landing-link {
  margin: 0 auto;
}
body #landing-link #landing-link-text {
  font-family: 'Roboto';
  font-variant: small-caps;
  font-size: 15px;
  color: #FFF;
  text-align: center;
  position: absolute;
  bottom: 30px;
}
body .serie-section-index {
  width: 100%;
  height: auto;
}
body .serie-section-index img {
  width: 100%;
  height: auto;
  display: block;
}
