@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700';
nav {
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  font-size: 16px;
  font-variant: small-caps;
  font-family: 'Roboto';
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: #575757;
}
