@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700";
body {
  margin: 0;
  padding: 0;
}
body a {
  text-decoration: none;
}
body #landingpage {
  width: 100%;
  height: 600px;
  background-image: url("../img/landing-bg.png");
  background-size: cover;
  position: relative;
}
body #landingpage #bg-video {
  position: absolute;
  width: 100%;
  z-index: -100;
}
body #landingpage #cw-logo {
  position: absolute;
  top: 40%;
  left: 35%;
}
body #landingpage #cw-logo img {
  width: 400px;
}
body #landingpage nav {
  position: absolute;
  text-align: center;
  z-index: 1;
  left: 27%;
  margin-top: 30px;
}
body #landingpage nav ul {
  list-style: none;
  margin: 0;
}
body #landingpage nav ul li {
  font-size: 16px;
  font-variant: small-caps;
  font-family: 'Roboto';
  display: inline-block;
  margin-right: 20px;
}
body #landingpage nav ul li a {
  text-decoration: none;
  color: #FFF;
}
body #landingpage #landing-link {
  position: absolute;
  bottom: 30px;
  left: 46%;
}
body #landingpage #landing-link #landing-link-text {
  font-family: 'Roboto';
  font-variant: small-caps;
  font-size: 15px;
  color: #FFF;
  text-align: center;
}
body .serie-section {
  width: 100%;
  height: auto;
}
body .serie-section img {
  width: 100%;
  height: auto;
  display: block;
}

#backgroundsupergirl {
  max-width: 100%;
  height: auto;
  background-size: cover;
}

.divtitle {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto';
}
