footer{
		font-family:'Roboto';
		font-size:13px;
}

.textfooter{
    display: inline-block;
    margin-left: 20px;
    }

#hearticon{
    margin-left: 4px;
    display: inline-block;
	width:2%;
}

.footer-back{
	background-color: #95a5a6;
}

.footer-icons{
    padding: 0px 0px 0px 15px;;
}

#socialicon{
	display: inline-block;
	width: 2%;
	margin-left: 10px;

}

#logofooter{
	width: 7%;
	margin-left: 46%;
	margin-top: 40px;
}

#email{
	float:right;
	margin-right: 20px;
}

