body{

	h1{
	    font-family: Roboto;
	    font-size: 100px;
	    font-variant: small-caps;
	    font-weight: 400;
	    color: #FFF;
	    letter-spacing: 35px;
	    opacity:0.8;
	    position:absolute;
	    top:25%;
	}

	h2{
		font-family:Roboto;
		font-variant:small-caps;
		font-weight:500;
		letter-spacing: 5px;
		text-align:center;
		margin-top:70px;
	}

	.rondperso{
		overflow:hidden;
	    -webkit-border-radius:50px;
	    -moz-border-radius:50px;
	    border-radius:50px;
	    width:100px;
	    height:100px;
	}

	#arrow-landing{
		width:100%;
		height: 600px;
		background-image: url('../img/arrow-landing.png');
		background-size:cover;
		position:relative;

		#arrow-title {
			width:500px;
			margin: 0 auto;
		}
	}

	#arrow-synopsis{
		padding:0 100px;
		margin-bottom:70px;

		p{
			margin-top:60px;
			font-family:Roboto;
			font-size:15px;
		}
	}

	#arrow-characters{
		background-color:#dddddd;
		padding:0 100px;

		#characters{
			width:100px;
			display:inline-block;
			margin:0 128px;
		}
	}
}