body{

	h1{
	    font-family: Roboto;
	    font-size: 100px;
	    font-variant: small-caps;
	    font-weight: 400;
	    color: #FFF;
	    letter-spacing: 35px;
	    opacity:0.8;
	    position:absolute;
	    top:25%;
	}

	h2{
		font-family:Roboto;
		font-variant:small-caps;
		font-weight:500;
		letter-spacing: 5px;
		text-align:center;
		padding-bottom:70px;
		margin:0;
	}

	.rondperso{
		overflow:hidden;
	    -webkit-border-radius:50px;
	    -moz-border-radius:50px;
	    border-radius:50px;
	    width:100px;
	    height:100px;
	}




	#arrow-landing{
		width:100%;
		height: 600px;
		background-image: url('../img/arrow/arrow-landing.png');
		background-size:cover;
		position:relative;

		#arrow-title {
			width:500px;
			margin: 0 auto;
		}

		.arrow-link-width{
			width:122px;
		}
	}

	#arrow-synopsis{
		background-image: url('../img/arrow/arrow-syno-bg.png');
		background-size:cover;
		padding:100px;

		p{
			font-family:Roboto;
			font-size:15px;
			margin:0;
		}
	}

	#arrow-characters{
		background-color:#fff;
		padding:100px;

		#characters{
			width:100px;
			display:inline-block;
			margin:0 128px 25px 128px;

			.character-name{
				font-family:'Roboto';
				font-size:13px;
				font-weight:500;
				text-align:center;
				margin-top:10px;
			}
		}
	}





	#lot-landing{
		width:100%;
		height: 600px;
		background-image: url('../img/lot/lot-landing.png');
		background-size:cover;
		position:relative;

		#lot-title {
			width:721px;
			margin: 0 auto;

			h1{
				font-family: Roboto;
			    font-size: 90px;
			    font-variant: small-caps;
			    font-weight: 400;
			    color: #FFF;
			    letter-spacing: 23px;
			    opacity: 0.8;
			    position: absolute;
			    top: 18%;
			}

			.h1-bis{
    			top: 25%;
    			font-family: Roboto;
			    font-size: 110px;
			    font-variant: small-caps;
			    font-weight: 400;
			    color: #FFF;
			    letter-spacing: 23px;
			    opacity: 0.8;
			    position: absolute;
			}
		}

		.lot-link-width{
			width:232px;
		}
	}

	#lot-synopsis{
		background-image: url('../img/lot/lot-syno-bg.png');
		background-size:cover;
		padding:100px;

		p{
			font-family:Roboto;
			font-size:15px;
			margin:0;
		}
	}

	#lot-characters{
		background-color:#fff;
		padding:100px;

		#characters{
			width:100px;
			display:inline-block;
			margin:0 128px 25px 128px;

			.character-name{
				font-family:'Roboto';
				font-size:13px;
				font-weight:500;
				text-align:center;
				margin-top:10px;
			}
		}

		.center-character{
			display:block !important;
			margin:0 auto !important;
		}
	}






	#supergirl-landing{
	width:100%;
	height: 600px;
	background-image: url('../img/supergirl-landing.png');
	background-size:cover;
	position:relative;

		#supergirl-title {
			width:720px;
			margin:0 auto;
		}

		.supergirl-link-width{
			width:141px;
		}
	}

		#supergirl-synopsis{
		background-image:url('../img/img_supergirl/supergirl-syno-bg.png');
		background-size:cover;
		padding:100px;

		  p{
			font-family:Roboto;
			font-size:15px;
			margin:0;
		}
	}

		#supergirl-characters{
		background-color:#fff;
		padding:100px;

		#characters{
			width:100px;
			display:inline-block;
			margin:0 128px 25px 128px;

			.character-name{
				font-family:'Roboto';
				font-size:13px;
				font-weight:500;
				text-align:center;
				margin-top:10px;
			}
		}
	}

    #flash-landing{
	width:100%;
	height: 600px;
	background-image: url('../img/img_flash/flash-landing.png');
	background-size:cover;
	position:relative;

		#flash-title {
			width:500px;
			margin-left: 280px;
		}

		.flash-link-width{
			width:117px;
		}
	}

		#flash-synopsis{
		background-image: url('../img/img_flash/flash-syno-bg.png');
		background-size:cover;
		padding:100px;

		  p{
			font-family:Roboto;
			font-size:15px;
			margin:0;
		}
	}

			#flash-characters{
		background-color:#fff;
		padding:100px;

		#characters{
			width:100px;
			display:inline-block;
			margin:0 128px 25px 128px;

			.character-name{
				font-family:'Roboto';
				font-size:13px;
				font-weight:500;
				text-align:center;
				margin-top:10px;
			}
		}
	}
}