@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700';
@import '_mixin.scss';

body{
	margin:0;
	padding:0;

	#landingpage {
	width:100%;
	height:600px;
	background-color:#575757;
	position:relative;

		nav {
		text-align:center;
		z-index: 1;

			ul {
				list-style:none;
				margin:0;
				padding-top:15px;

				li{
					font-size:16px;
					font-variant: small-caps;
					font-family: 'Roboto';
					display:inline-block;
					margin-right: 20px;

					a{
						text-decoration:none;
						color:#000;
					}

				}

			}
		}

		#landing-link {
			position:absolute;
			bottom:30px;
			left: 48%;

				#landing-link-text{
					font-family:'Roboto';
					font-variant: small-caps;
					font-size:15px;
					color: rgba(0,0,0,0.8);
					text-align:center;
				}

		}

	}
}



