@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700';
@import '_mixin.scss';
@import '_navbar.scss';
@import '_serie-sections.scss';

body{
	margin:0;
	padding:0;

	a {
		text-decoration:none;
	}

	#landingpage {
	width:100%;
	height:600px;
	background-image: url('../img/landing-bg.png');
	background-size:cover;
	position:relative;

		#bg-video {
			position:absolute;
			width:100%;
			z-index:-100;
		}

		#cw-logo {
		    position: absolute;
		    top: 40%;
		    left: 35%;
		    
		    	img{
		    		width:400px;
		    	}
		}

	}

	.landing-link-width{
					width:103px;
				}

	#landing-link {
			margin:0 auto;

				#landing-link-text{
					font-family:'Roboto';
					font-variant: small-caps;
					font-size:15px;
					color: #FFF;
					text-align:center;
					position:absolute;
					bottom:30px;
				}

		}

	.serie-section-index {
		width:100%;
		height:auto;

			img{
				width:100%;
				height:auto;
				display:block;
			}
	}

}



