@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700';
@import '_mixin.scss';

body{
	margin:0;
	padding:0;

	a {
		text-decoration:none;
	}

	#landingpage {
	width:100%;
	height:600px;
	background-image: url('../img/landing-bg.png');
	background-size:cover;
	position:relative;

		#bg-video {
			position:absolute;
			width:100%;
			z-index:-100;
		}

		#cw-logo {
		    position: absolute;
		    top: 40%;
		    left: 35%;
		    
		    	img{
		    		width:400px;
		    	}
		}

		nav {
			position: absolute;
		    text-align: center;
		    z-index: 1;
		    left: 27%;
		    margin-top: 30px;

			ul {
				list-style:none;
				margin:0;

				li{
					font-size:16px;
					font-variant: small-caps;
					font-family: 'Roboto';
					display:inline-block;
					margin-right: 20px;

					a{
						text-decoration:none;
						color:#FFF;
					}

				}

			}
		}

		#landing-link {
			position:absolute;
			bottom:30px;
			left: 46%;

				#landing-link-text{
					font-family:'Roboto';
					font-variant: small-caps;
					font-size:15px;
					color: #FFF;
					text-align:center;
				}

		}

	}

	.serie-section {
		width:100%;
		height:auto;

			img{
				width:100%;
				height:auto;
				display:block;
			}
	}

}



