@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700';
@import '_mixin.scss';
@import '_navbar.scss';
@import '_serie-sections.scss';
@import '_administration.scss';
@import '_footer.scss';

body{
	margin:0;
	padding:0;

	a {
		text-decoration:none;
	}

	#landingpage {
	width:100%;
	height:600px;
	background-image: url('../img/landing-bg.png');
	background-size:cover;
	position:relative;

		#bg-video {
			position:absolute;
			width:100%;
			z-index:-100;
		}

		#cw-logo {
		    position: absolute;
		    top: 40%;
		    left: 35%;
		    
		    	img{
		    		width:400px;
		    	}
		}

	}

	.landing-link-width{
					width:103px;
				}

	#landing-link {
			margin:0 auto;

				#landing-link-text{
					font-family:'Roboto';
					font-variant: small-caps;
					font-size:15px;
					color: #FFF;
					text-align:center;
					position:absolute;
					bottom:30px;
				}

		}

	.serie-section-index {
		width:100%;
		height:auto;

			img{
				width:100%;
				height:auto;
				display:block;
			}
	}

		#arrow {
		background-image:url('../img/arrow/arrow-index.png');
		background-size:cover;
		height:240px;
		position:relative;

		p {
			margin:0;
			position:absolute;
			top:20%;
			right:50px;
			font-family:Roboto;
			font-variant:small-caps;
			font-size:100px;
			color:#000;
			opacity:0.6;

			span {
				font-weight: 300 !important;
			}
		}
	}

	#flash {
		background-image:url('../img/img_flash/flash-index.png');
		background-size:cover;
		height:240px;
		position:relative;

		p {
			margin:0;
			position:absolute;
			top:35%;
			left:50px;
			font-family:Roboto;
			font-variant:small-caps;
			font-size:100px;
			color:#FFF;
			opacity:0.6;

			span {
				font-weight: 300 !important;
			}
		}
	}
	
	#lot {
		background-image:url('../img/lot/lot-index.png');
		background-size:cover;
		height:240px;
		position:relative;

		.higher-text{
			    top: 24%;
    			font-size: 95px;
			}

		.lower-text{
				top:50%;
			}

		p {
			margin:0;
			position:absolute;
			top:35%;
			right:50px;
			font-family:Roboto;
			font-variant:small-caps;
			font-size:100px;
			color:#FFF;
			opacity:0.8;

			span {
				font-weight: 300 !important;
			}
		}
	}

	#supergirl {
		background-image:url('../img/img_supergirl/supergirl-index.png');
		background-size:cover;
		height:240px;
		position:relative;

		p {
			margin:0;
			position:absolute;
			top:20%;
			left:50px;
			font-family:Roboto;
			font-variant:small-caps;
			font-size:100px;
			color:#000;
			opacity:0.7;
		}
	}

}



